<div class="user-table-container">
  <table mat-table [dataSource]="dataSource()" matSort>
      <!-- User Columns -->
      <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
        <th class="header-cell {{col}}" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="'Sort by {{col}}">{{col}}</th>
        <td class="data-cell {{col}}" mat-cell *matCellDef="let element">{{element[col]}}</td>
      </ng-container>
  
      <!-- User Header Row -->
      <tr class="header-row" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  
      <!-- Users Rows -->
      <tr class="user-row" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onUserClick(row)"></tr>
  </table>
</div>