@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

@keyframes enterLeft {
    0% {
      opacity: 0;
      transform: translateX(-5vw); 
    }
    80% {
      transform: translateX(0.5vw); 
    }
    100% {
      opacity: 1;
      transform: translate(0); 
    } 
}
  
@keyframes enterRight {
    0% {
      opacity: 0;
      transform: translateX(5vw); 
    }
    80% {
      transform: translateX(-0.5vw); 
    }
    100% {
      opacity: 1;
      transform: translate(0); 
    } 
}

.home-page {
    min-height: 110vh;
    @include flex-column;
    align-items: center;
    @include fluid-mobile(padding-top, 30px, 50px);

    .home-title {
        width: fit-content;
        text-align: center;
        backface-visibility: hidden;
        animation: enterRight 0.75s ease-out;
        @include fluid-mobile(font-size, 24px, 30px);
        @include fluid-mobile(margin-bottom, 20px, 40px);
        @include desktop {
            @include fluid-desktop(font-size, 36px, 42px);
        }
    }

    .home-desc {
        width: fit-content;
        text-align: center;
        padding: 0 11%;
        backface-visibility: hidden;
        animation: enterLeft 0.75s ease-out;
        @include fluid-mobile(font-size, 16px, 18px);
        @include desktop {
            @include fluid-desktop(font-size, 18px, 24px);
        }
    }
}